<html>
    <title>APITestingTarget :: stdHTML</title>
    <body>
	<p style="text-align: center">This is <b>standard HTML</b></p>
	<p style="text-align: center"><img src="/images/perfect-logo-2-0.png"></p>
    </body>
</html>
